

<ion-view view-title="">

	<ion-content has-bouncing="false" class="gray-back room-back">
		<div class="h-help-caption">Help</div>
		<div class="h-help-wrapper">
			<div class="h-help-subcaption">Central Reservations</div>
			<div class="h-help-value button-smooth" ng-click="onPhone($event)">+27 (0)11 290 9700</div>
			<div class="h-help-subcaption">Email Reservations</div>
			<div class="h-help-value button-smooth" ng-click="onEmail($event)">reservations@thecapital.co.za</div>
		</div>
	</ion-content>
</ion-view>
