

<ion-view view-title="">

	<ion-content has-bouncing="false" class="gray-back room-back">
		<div class="h-help-caption">Terms and Conditions</div>
		<div class="t-content-wrapper">
			<p class="t-subcaption">Amendment and Cancelation policy</p>
			<p>Less than 7 days prior to arrival - 100% fee<br>
			Between 8-14 days prior to arrival - 75% fee<br>
			Between 15-27 days prior to arrival - 50% fee<br>
			28 days + prior to arrival - 25% fee</p>
			<p>The customer shall not under any circumstances be entitled to withhold payment of any amount due under this agreement. In the event that the customer fails to make due and timeous payment of any amount owing to The Capital Hotel Group under this agreement, such amount shall bear interest at the prime rate plus 2% from the due date until payment thereof has been received by The Capital Hotel Group in full.</p>
			<p>For the purposes of this clause, the prime rate shall mean the prime bank overdraft rate as charged by Standard Bank of South Africa to its corporate customers in respect of overdraft facilities, calculated and compounded monthly in arrear, as certified by any manager of such bank.</p>
			<p class="t-subcaption">Terms and Conditions of Residence and Booking</p>
			<p>Booking accommodation at The Capital Hotel Group for the purpose of hosting a party is not allowed. Should management receive a complaint from other residents about noise levels, security will facilitate the immediate check out of the noisy party without a refund. <span>Deposits will be held as liquidated damages and the guest agrees hereto. A maximum of 2 visitors per room shall be allowed.</span></p>
			<p>Rates are quoted per apartment/room, per night or per month in South African Rands, inclusive of VAT</p>
			<p>Check in time is 14h00 and Check out time on day of departure is 10h00. The guest undertakes to deliver the keys to reception</p>
			<p>Guests will be responsible for any losses, damage and breakages to the apartment and the inventory of furnishings and the cost thereof will be debited from the guest's credit card or rental deposit. Smoking is not permitted in the apartments and will be subject to a fine of R1000.00 per occurrence. Smoking is permitted on the balcony of the apartment.</p>
			<p>The rental rates include daily housekeeping, limited personal laundry, electricity, DSTV (satellite television) 24 hour security and parking. The cost of any additional services will be charged against the guests' credit card or deposit (as applicable) unless alternative settlement arrangements are made prior to departure.</p>
			<p>No pets are permitted</p>
			<p>The owner, its agents and/or employees are not liable for:</p>
			<p>Any loss or damage to the property or possessions of any guest, resident or visitor, whether such damage was caused by fire, theft or otherwise, or by negligence or the wrongful act, or omission, of the owner, its agents and/or employee</p>
			<p>The death of or any personal injuries of whatsoever nature sustained by a guest, resident or visitor, whether such death or injuries were sustained by the negligence or the wrongful act, or omission, of the owner, its agents and/or employee and/or the defective functioning of any apparatus.</p>
			<p>All persons entering the premises do so entirely at their own risk.</p>
		</div>
	</ion-content>
</ion-view>
